include ../data/menu

.menu
  +svg('logo', '212', '50')
  nav
    ul.menu__list
      each link, index in menu
        - var lastLinkClass = (index === menu.length - 1) ? 'button button--primary' : '';
        li.menu__item
          a(class=lastLinkClass href=link.href) #{link.name}
