/* Vendor */
@import 'vendor/swiper';

/* Fonts */
@import 'fonts/rubik';

/* Mixins */
@import 'mixins/mixins';

/* Variables */
@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/transition';
@import 'variables/fonts';

/* Scaffolding */
@import 'scaffolding';

/* Commmon */
@import 'common/text';
@import 'common/button';
@import 'common/accordion';
@import 'common/scroll';
@import 'common/quote';
@import 'common/panel';

/* Blocks */
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/loader';
@import 'blocks/page';
@import 'blocks/promo';
@import 'blocks/page-header';
@import 'blocks/about-us';
@import 'blocks/how-to';
@import 'blocks/faq';
