.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include centerer;

  &__list {
    display: flex;
    align-items: center;
    height: 50px;

    @include reset-list;
  }

  &__item {
    font-size: 16px;
    text-transform: uppercase;
    color: $text-light;
    margin-left: 90px;

    a {
      color: inherit;
      font-weight: 700;

      @include reset-link;
    }
  }
}
