.promo {
  background: url("/img/content/truck.svg") no-repeat left -40px bottom 10px, url("/img/content/main-bg.svg") no-repeat top center;
  min-height: 1200px;
  margin-top: -140px;

  &__content {
    @include centerer;
    padding-top: 100px;
    color: $text-light;

    h1 {
      width: 100%;
      max-width: 740px;
      margin-top: 150px;
      margin-bottom: 80px;
    }
  }
}
