-
  var clients = [
    {name: 'Isak Pettersson', imgSrc: 'https://loremflickr.com/60/60/person/?random=1', feedback: 'Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.'},
    {name: 'Simon Sandberg', imgSrc: 'https://loremflickr.com/60/60/person/?random=2', feedback: 'From most barricade or traffic control companies located in the phone book. They employ certified Traffic Control Supervisors (TCS) who can generate and certify the traffic control plan. '},
    {name: 'Isak Pettersson', imgSrc: 'https://loremflickr.com/60/60/person/?random=1', feedback: 'Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the permit as the Applicant or Agent for the Permittee.'},
    {name: 'Simon Sandberg', imgSrc: 'https://loremflickr.com/60/60/person/?random=2', feedback: 'From most barricade or traffic control companies located in the phone book. They employ certified Traffic Control Supervisors (TCS) who can generate and certify the traffic control plan. '}
  ]
